{% extends 'base.html' %}
{% load tran %}

{% block styles %}
<link href="/static/css/article.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block slide_images %}
<img src="/media/{{menu.image}}" width="980" height="240" />
{% endblock %}

{% block navigation %}
<div class="navigation">
    <span class="right">
        <a href="/">{% if request.LANGUAGE_CODE == 'zh-cn' %}首页{% else %}Home{% endif %}</a>>>
        <a href="/menu/{{menu.id}}">{% tran menu "name" request.LANGUAGE_CODE %}</a>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="clear"></div>
<div id="art-cont">
    <div class="article-list">
        <div class="tab">
            {% if sub_menus %}
                {% for menuitem in sub_menus %}
                <span class="tab-header {% if menuitem.id  == selected_menu_id %}selected-tab{% endif %}">
                    <a href="/menu/{{menu.id}}/{{menuitem.id}}">{% tran menuitem "name" request.LANGUAGE_CODE %}</a>
                </span>
                {% endfor %}
            {% else %}
                <span class="tab-header selected-tab">
                    <a href="/menu/{{menu.id}}">{% tran menu "name" request.LANGUAGE_CODE %}</a>
                </span>
            {% endif %}
            <div class="clear"></div>
        </div>
        <div class="tab-content">
            <ul>
                {% if articles %}
                {% for article in articles %}
                <li>
                    <img class="img-left" src="/media/{{article.image}}" alt="" />
                    <span class="item-info">
                        <a class="none-style" href="/centre/article/{{article.id}}"><span class="item-title">{% tran article "title" request.LANGUAGE_CODE %}</span></a>
                        <span class="item-date">{% tran article.menu "name" request.LANGUAGE_CODE %} | {{article.created|date:"Y-m-d H:s"}}</span>
                        <span class="item-summary">{% tran article "body" request.LANGUAGE_CODE %}</span>
                    </span>
                </li>
                <li class="item-split"><hr /></li>
                {% endfor %}
                
                <li class="pagination">
                    {% if articles.has_previous %}
                    <span class="last-page">
                        <a href="?page={{ articles.previous_page_number }}">{% if request.LANGUAGE_CODE == 'zh-cn' %}上一页{% else %}Previou{% endif %}</a>
                    </span>
                    {% endif %}

                    <span class="pages">
                        {% for p in articles.paginator.page_range %}
                        <a class="{% if p == articles.number %}selected-page{% endif %}" href="?page={{ p }}">{{p}}</a>
                        {% endfor %}
                    </span>

                    {% if articles.has_next %}
                    <span class="next-page">
                        <a href="?page={{ articles.next_page_number }}">{% if request.LANGUAGE_CODE == 'zh-cn' %}下一页{% else %}Next{% endif %}</a>
                    </span>
                    {% endif %}
                </li>
                <li class="item-split"><hr /></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="side-bar">
        <div class="box-title side-bar-title">
            <span class="left">JOIN US</span>
            <span class="right">加入我们</span>
        </div>
        <a href="/contact-us">
            <img src="/static/image/join_us.jpg" alt="" width="253" height="140" />
        </a>
    </div>
</div>
{% endblock %}