{% extends 'base.html' %}
{% block styles %}
<link href="/static/css/article.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block slide_images %}
<img src="/static/image/media_centre.jpg" />
{% endblock %}
{% block content %}
<div class="clear"></div>
<div id="art-cont">
	<div class="article-list">
		<div id="title">{{article.title}}</div>
		<div id="date">
			<span>{{article.menu.name}}</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<span>{{article.created|date:"Y-m-d H:s" }}</span>
		</div>
		<div id="body">{{article.body}}</div>
	</div>
	<div class="side-bar">
        <div class="box-title side-bar-title">
            <span class="left">JOIN US</span>
            <span class="right">加入我们</span>
        </div>
        <a href="/contact-us">
            <img src="/static/image/join_us.jpg" alt="" width="253" height="140" />
        </a>
    </div>
</div>
{% endblock %}