{% extends 'base.html' %}
{% load tran %}
{% block styles %}
<link href="/static/css/article.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block slide_images %}
<img src="/media/{% if article.menu.parent %}{{article.menu.parent.image}}{% endif %}" width="980" height="240  " />
{% endblock %}

{% block navigation %}
<div class="navigation">
    <span class="right">
        <a href="/">{% if request.LANGUAGE_CODE == 'zh-cn' %}首页{% else %}Home{% endif %}</a>>>
        <a href="/menu/{{article.menu.id}}">{% tran article.menu "name" request.LANGUAGE_CODE %}</a>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="clear"></div>
<div id="art-cont">
	<div class="article-list">
		<div id="title">{% tran article "title" request.LANGUAGE_CODE %}</div>
		<div id="date">
			<span>{% tran article.menu "name" request.LANGUAGE_CODE %}</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<span>{{article.created|date:"Y-m-d H:s" }}</span>
		</div>
		<div id="body">{% tran article "body" request.LANGUAGE_CODE %}</div>
	</div>
	<div class="side-bar">
        <div class="box-title side-bar-title">
            <span class="left">JOIN US</span>
            <span class="right">加入我们</span>
        </div>
        <a href="/contact-us">
            <img src="/static/image/join_us.jpg" alt="" width="253" height="140" />
        </a>
    </div>
</div>
{% endblock %}