{% extends 'base.html' %}
{% block styles %}
<link href="/static/css/contact.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block scripts %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
{% block slide_images %}
<img src="/static/image/contact.jpg" width="980" height="241" />
{% endblock %}

{% block navigation %}
<div class="navigation">
    <span class="right">
        <a href="/">首页</a>>>
        <a href="/contact-us">联系我们</a>
    </span>
</div>
{% endblock %}

{% block content %}
<div id="leftcontent">
	<p>
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	</p>
</div>
<div id="rightcontent">
	<div id="contact-box">
        <span class="left">CONTACT</span>
        <span class="right">联系我们</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/phone-icon.jpg" alt="" />
    	<span class="info">020-3999865</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/email-icon.jpg" alt="" />
    	<span class="info">Volunteers@yunuschina.com</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/follow-us-icon.jpg" alt="" />
		<span>
			<a href=""><img src="/static/image/sina1.jpg" title="新浪微博" /></a>
			<a href=""><img src="/static/image/tx.jpg" title="腾讯微博" /></a>
			<a href=""><img src="/static/image/t.jpg" title="Tumblr" /></a>
			<a href=""><img src="/static/image/douban.jpg" title="豆瓣" /></a>
			<a href=""><img src="/static/image/renren.jpg" title="人人网" /></a>
		</span>
		<div class="clear"></div>
    </div>
    <div class="subscription">
    	<span>
    	{% if request.LANGUAGE_CODE == 'zh-cn' %}订阅我们的最新动态{% else %}Subscript our latest news{% endif %}
    	</span><br>
    	<form id="id_subscibe_form" action="/subscibe">{% csrf_token %}
	    	<input id="id_email" class="text" type="text" name="email" value="输入您的邮箱" 
	    		onfocus="if(this.value=='输入您的邮箱')this.value=''">
	    	<input id="id_subscibe_submit" class="btn" type="submit" value=""/>
    	</form><br>
    	<div id="id-sub-info" class="none clear"></div>
    	<script type="text/javascript">
    		$('#id_subscibe_submit').click(function(e){
    			e.preventDefault();
    			var email = $('#id_email').val();
    			if( email == '' || email == '输入您的邮箱' )
    			{
    				$('#id-sub-info').text('必须输入您的邮箱才能提交！').addClass('red').removeClass('grad').show();
    			}
    			else{
	    			var form = $('#id_subscibe_form');
	    			form.submit(function(){return false;})

	    			var data = {
	    				csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
	    				email: $('id_email').val()
	    			};
	    			$.post(
	    				'/subscibe',
	    				data,
	    				function(){
	    					$('#id-sub-info').text('邮件订阅成功！').show().addClass('grad').removeClass('red').fadeOut(5000, function(){
	    						$('#id_email').val('输入您的邮箱');
	    					});
	    				}
	    			);
    			}
    		});
    	</script>
    </div>
</div>
{% endblock %}