{% extends 'base.html' %}
{% block styles %}
<link href="/static/css/contact.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block slide_images %}
<img src="/static/image/contact.jpg" width="980" height="241" />
{% endblock %}

{% block navigation %}
<div class="navigation">
    <span class="right">
        <a href="/">首页</a>>>
        <a href="/contact-us">联系我们</a>
    </span>
</div>
{% endblock %}

{% block content %}
<div id="leftcontent">
	<p>
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	四大范德萨发的说法接口的司法局都是范德萨飞的健身房速度快拉飞遁离俗反馈率
	</p>
</div>
<div id="rightcontent">
	<div id="contact-box">
        <span class="left">CONTACT</span>
        <span class="right">联系我们</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/phone-icon.jpg" alt="" />
    	<span class="info">020-3999865</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/email-icon.jpg" alt="" />
    	<span class="info">Volunteers@yunuschina.com</span>
    </div>
    <div class="c-row">
    	<img src="/static/image/follow-us-icon.jpg" alt="" />
		<span>
			<a href=""><img src="/static/image/sina1.jpg" title="新浪微博" /></a>
			<a href=""><img src="/static/image/tx.jpg" title="腾讯微博" /></a>
			<a href=""><img src="/static/image/t.jpg" title="Tumblr" /></a>
			<a href=""><img src="/static/image/douban.jpg" title="豆瓣" /></a>
			<a href=""><img src="/static/image/renren.jpg" title="人人网" /></a>
		</span>

		<!-- JiaThis Button BEGIN 
		<div class="jiathis_style_24x24 share">
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_tumblr"></a>
			<a class="jiathis_button_douban"></a>
			<a class="jiathis_button_renren"></a>
			<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
			<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1344352813010593" charset="utf-8"></script>
		JiaThis Button END -->
		<div class="clear"></div>
    </div>
    <div class="subscription">
    	<span>订阅我们的最新动态</span><br>
    	<form action="/subscibe">
	    	<input class="text" type="text" name="email" />
	    	<input class="btn" type="Submit" value=""/>
    	</form>
    </div>
</div>
{% endblock %}