{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript" src="/static/script/images.display.js"></script>
<script type="text/javascript">
window.onload = function(){
    {% for img in home_images %}
    PImgPlayer.addItem( "", "/centre/article/{{img.articles.id}}", "/media/{{img.image}}");
    {% endfor %}
    PImgPlayer.init( "id_images_player", 980, 512 );
};
</script>
{% endblock %}

{% block slide_images %}
<div id="id_images_player"></div>
{% endblock %}

{% block navigation %}{% endblock %}
{% block content %}
<div class="box-list">
    {% include "_inner_article_list.html" with item=miniature lineitem=miniature_articles %}
    {% include "_inner_article_list.html" with item=social lineitem=social_articles %}
    {% include "_inner_article_list.html" with item=about_us lineitem=about_us_articles %}
    <div class="clear"></div>
</div>
<div class="clear"></div>
{% endblock %}